:root {
  --aw-bg-color: white;
  --aw-color: black;
  --aw-panels-bg-color: white;
  --aw-panel-resize-bg-color: #93d4ff;
  --aw-panel-resize-color: white;
  --aw-panel-border-color: rgb(39, 39, 39);
  --aw-panel-menu-bar-color: var(--aw-color);
  --aw-panel-menu-bar-bg-color: #6b6b6b;
  --aw-panel-content-bg-color: rgb(225, 225, 225);
  --aw-panel-content-color: rgb(2, 2, 2);
}

:root .dark-theme {
  --aw-text-color: rgb(239, 82, 82);
  --aw-bg-color: black;
  --aw-color: var(--aw-text-color);
  --aw-panels-bg-color: black;
  --aw-panel-resize-bg-color: rgb(83, 4, 4);
  --aw-panel-resize-color: rgb(239, 82, 82);
  --aw-panel-border-color: purple;
  --aw-panel-menu-bar-color: var(--aw-text-color);
  --aw-panel-menu-bar-bg-color: rgb(114, 0, 0);
  --aw-panel-content-bg-color: rgb(78, 0, 0);
  --aw-panel-content-color: rgb(186, 87, 87);
  --aw-panel-scrollbar-color-1: rgb(196, 63, 63);
  --aw-panel-scrollbar-color-2: darkred;
}
